[supervisor]
supervisor url = http://localhost:8080
ssl client certificate file = /etc/pki/tls/certs/mandelbrot-client.crt
ssl ca certificate file = /etc/pki/tls/certs/ca-bundle.crt 
use srv records = true

[agent]
state directory = state/
spool directory = spool/
run directory = run/

[client]


[system]
system type = io.mandelbrot.system.GenericHost
display name = My Host
description = "this is a generic host description"
tags = "server" "mandelbrot.io" "host" "generic"

[probes]
default probe interval = 60 seconds
default probe splay = 5 seconds
default joining timeout = 5 minutes
default probe timeout = 5 minutes
default alert timeout = 10 minutes
default leaving timeout = 12 hours
default flap window = 10 minutes
default flap deviations = 5
default notification policy = emit

[probe:/load]
probe type = io.mandelbrot.probe.SystemLoad

[probe:/cpu]
probe type = io.mandelbrot.probe.SystemCPU

[probe:/memory]
probe type = io.mandelbrot.probe.SystemMemory

[probe:/disk]
probe type = io.mandelbrot.probe.SystemDiskUsage

[probe:/net]
probe type = io.mandelbrot.probe.SystemNetPerformance

#[endpoint:dummy]
#accepts = [ io.mandelbrot.* ]
#endpoint type = io.mandelbrot.endpoint.DummyEndpoint

[endpoint:http]
accepts = [ io.mandelbrot.* ]
endpoint type = io.mandelbrot.endpoint.HTTPEndpoint
endpoint url = http://localhost:8080

[maintenance]
default editor = vi
editor template = /etc/mandelbrot/maintenance.template

