[agent]
supervisor url = http://localhost
use srv records = true
ssl client certificate file = /etc/pki/tls/certs/mandelbrot-client.crt
ssl ca certificate file = /etc/pki/tls/certs/ca-bundle.crt 
local spool directory = /var/spool/mandelbrot

[system]
system type = io.mandelbrot.system.GenericHost
display name = My Host
description = "this is a generic host description"
tags = "server" "mandelbrot.io" "host" "generic"

[probes]
default probe interval = 30 seconds
default probe splay = 5 seconds

[probe:/load]
probe type = io.mandelbrot.probe.SystemLoad

[probe:/cpu]
probe type = io.mandelbrot.probe.SystemCPU

[probe:/memory]
probe type = io.mandelbrot.probe.SystemMemory

[endpoints]

[endpoint:alerts]
accepts = [ io.mandelbrot.* ]
endpoint type = io.mandelbrot.endpoint.DummyEndpoint

[maintenance]
default editor = vi
editor template = /etc/mandelbrot/maintenance.template

