#
# The [supervisor] section contains parameters for configuring the
# server endpoint used by both the agent and client utilities.
#
[supervisor]

#
# The endpoint to use.  The mandelbrot-agent will register systems using
# this endpoint, and send probe events there.  The mandelbrot client will
# use this endpoint when submitting commands and queries.
#
supervisor url = http://localhost:8080

#
# The [agent] section contains parameters for the mandelbrot-agent.
#
[agent]

#
# Maximum number of transient registration failures before the agent gives up.
#
max registration attempts = 3

#
# Delay between registration attempts.
#
registration attempt delay = 10 seconds

#
# Switch to the specified runtime user after performing initialization.
# This option is ignored if the agent is not started as root.
#
#runtime user = mandelbrot

#
# Switch to the specified runtime group after performing initialization.
# This option is ignored if the agent is not started as root.
#
#runtime group = mandelbrot

#
# The mandelbrot-agent uses this duration as an upper bound to pick a splay
# when scheduling probes.  This prevents a 'thundering herd' effect whereby
# all probes query at the same time.
#
probe splay = 5 seconds

#
# The default interval used by probes for querying status.  This can be
# overridden on a per-system or per-probe basis in the system file.
#
probe interval = 20 seconds

#
# Probes which are not synthetic initially join the supervisor with their
# lifecycle set to 'joining', and move to 'known' once they submit their
# first status.  The joining timeout defines the duration a probe may live
# in joining state before their health is considered 'unknown'.  This can
# be overridden on a per-system or per-probe basis in the system file.
#
joining timeout = 5 minutes

#
# The probe timeout defines the duration a probe with lifecycle 'known' may live
# in before its health is considered 'unknown'.  This can be overridden on a
# per-system or per-probe basis in the system file.
#
probe timeout = 1 minute

#
# The alert timeout defines the duration a non-healthy probe (a probe with
# 'degraded', 'failed', or 'unknown' health) may live in before the supervisor
# will send an alert.  This can be overridden on a per-system or per-probe
# basis in the system file.
#
alert timeout = 90 seconds

#
# The leaving timeout defines the duration a retired probe's data is retained
# before being deleted.
#
leaving timeout = 12 hours
